$border: 2px solid $color-light-sea-green

.main-info
	background-color: #F0F8FF
	background-image: url("../img/bg.png");
	// border-bottom: $border
	// border-top: $border
	padding: 180px 15px 0
	position: relative

	@include breakpoint(large)
		// border: $border
		border-radius: 5px

	.frame
		background-image: url('../img/me.jpg')
		background-position: center
		background-size: 100%
		border-radius: 50%
		height: 100%
		left: 50%
		max-height: 200px
		max-width: 200px
		position: absolute
		top: -75px
		transform: translate(-50%)
		width: 100%

	h1, h2
		text-align: center


	h1
		padding: 15px 0
