@keyframes slide-up
	0%
		bottom: -200%
	100%
		bottom: -100%

@keyframes rainbow
	0%
		color: $color-black
	20%
		color: $color-orange-html5
	40%
		color: $color-blue-css3
	60%
		color: $color-blue-wordpress
	80%
		color: $color-red-ruby
	100%
		color: $color-light-sea-green

.skills
	padding-bottom: 10px
	width: 100%

	.icons
		position: relative

		div
			&:hover
				.info
					animation: slide-up .3s
					animation-timing-function: ease-in
					bottom: -100%
					display: block
					left: 0

		i
			color: $color-light-sea-green
			font-size: 60px

			&:hover

				&.fa-
					&css3
						color: $color-blue-css3

					&diamond
						color: $color-red-ruby

					&git,
					&github-alt
						color: $color-black

					&html5
						color: $color-orange-html5

					&wordpress
						color: $color-blue-wordpress

					&code
						animation: rainbow 3s infinite


	.info
		background-color: $color-main
		border-radius: 5px
		display: none
		padding: 15px
		position: absolute

		p
			color: $color-white
			margin-bottom: 0
