.skills
	background-image: url("../img/bg.png")
	width: 100%

	.icons
		display: flex
		flex-direction: row
		justify-content: space-between
		padding: 10px 0

		i
			color: $color-light-sea-green
			font-size: 80px
