.skills {
	// background-color: $color-nordic;
	// border-top: 10px solid $color-vis-vis;
	// border-bottom: 10px solid $color-vis-vis;
	width: 100%;

	.icons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 0;
		i {
			color: $color-light-sea-green;
			font-size: 80px;
		}
	}
}
