<!-- {{#each portfolio.contact}}
	<div class="contact" id="contact">
		<div class="row">
			<div class="columns">
				<p>
				<b>Interested in working together?</b>
				{{this.copy}}</p>
			</div>
		</div>
		<form method="POST" action="contact.php">
			<div class="row">
				{{#each this.forms}}
					<div class="small-12 medium-6 columns">
						<input type="{{this.type}}" name="{{this.name}}" value="" placeholder="{{this.placeholder}}">
					</div>
				{{/each}}
			</div>

			<div class="row">
				<div class="small-12 columns">
					<label for="textarea">
						<textarea name="message" rows="8" cols="80" placeholder="Tell me about your project"></textarea>
					</label>
				</div>
			</div>

		<div class="row">
			<div class="columns">
				<input type="submit" value="Submit" name="submit" class="button">
				<input type="reset" value="Reset" name="reset" class="button">
			</div>
		</div>

		</form>

	</div>

{{/each}} -->

<div class="contact" id="contact">
	<div class="row">
		<div class="columns">
			<p>
			<b>Interested in working together?</b>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<iframe src='/contact/contactform.php' frameborder='0' width='100%' height='600' ></iframe>
		</div>
	</div>
</div>
