{{#each portfolio.contact}}
	<div class="contact" id="contact">
		<div class="row">
			<div class="columns">
				<p>
				<b>Interested in working together?</b>
				{{this.copy}}</p>
			</div>
		</div>
		<form id="myForm" method="post" action="../mail.php">

			<div class="row">
				{{#each this.forms}}
					<div class="medium-6 columns">
						<input type="{{this.type}}" name="{{this.name}}" value="" placeholder="{{this.placeholder}}">
					</div>
				{{/each}}
			</div>

			<div class="row">
				<div class="columns">
					<label for="textarea">
						<textarea name="message" rows="8" cols="80" placeholder="Tell me about your project"></textarea>
					</label>
				</div>
			</div>

		<div class="row">
			<div class="columns">
				<input name="Submit" type="submit" class="button" value="Send Message" target="_blank">
			</div>
		</div>

		</form>

	</div>

{{/each}}
