<section class="main-info large-9 large-centered">
	<div class="frame" alt="Cody Smith"></div>
	<!-- <img src="../assets/img/me.jpg" /> -->
	<!-- <img src="http://www.fillmurray.com/200/300" /> -->
	<div class="row">
		<div class="small-12 small-centered columns body">
			<p>I'm Cody Smith. I'm a <b>Web Developer</b> and <b>Designer</b> from Cincinnati.</p>
			<p>I have worked in a professional environment for the last two years. At my last role we worked mostly in a <b>Ruby on Rails</b> environment with <b>HAML</b> and <b>Sass</b> pre proccessors. I also have a lot of experience with <b>WordPress</b> including creating and modifying themes. As well as using the command line for <b>Git</b> and <b>NPM</b>.</p>
			<p>I have also worked with <b>JavaScript</b> and JS libraries like <b>jQuery</b>.</p>
			<p>We can connect by using the <a href="#contact">contact form</a> <b>or</b> <a href="mailto:coding.r.smith@gmail.com">Sending me an email</a>.</p>
		</div>
		{{>skills}}
	</div>
</section>
