<section class="main-info large-9 large-centered">
	<div class="frame"></div>
	<!-- <img src="../assets/img/me.jpg" /> -->
	<!-- <img src="http://www.fillmurray.com/200/300" /> -->
	<div class="row">
		<div class="small-12 small-centered columns body">
			<p>Hi, I'm Cody. I'm a <b>Front End Developer</b> from Cincinnati.</p>
			<p>I have worked in corporate environments for the last couple years and I do freelance design and development on the side.</p>
			<p>I just left my position as a <b>Junior Front End Developer</b> at <a href="http://barefootproximity.com">Barefoot Proximity</a> where our biggest clients are Exxon Mobil and Cincinnati Children's.</p>
			<p>We worked mostly in a <b>Ruby on Rails</b> environment with <b>HAML</b> and <b>Sass</b>.</p>
			<p>This site was created with the help of <a href="http://foundation.zurb.com/">Foundation Framework</a>, <b>Panini</b>, <b>NPM</b> and <b>JSON</b>.</p>
		</div>
		{{>skills}}
	</div>
</section>
