<section class="main-info">
	<div class="frame"></div>
	<!-- <img src="../assets/img/me.jpg" /> -->
	<!-- <img src="http://www.fillmurray.com/200/300" /> -->
	<div class="row">
		<div class="small-8 small-centered columns body">
			<p>I'm Cody. A <b>Front End Developer</b> from Cincinnati.</p>
			<p>2014 -> present</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
			<ul>
				<li>Exxon</li>
				<li>Childrens</li>
				<li>Reds</li>

			</ul>
		</div>
	</div>
</section>
